<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epics.kisan_sahay">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
    ...
    android:name="androidx.multidex.MultiDexApplication">

    <!-- If you are using support libraries use android:name="android.support.multidex.MultiDexApplication" -->

    <!--If you are using your own custom Application class then extend -->
    <!--MultiDexApplication and change above line as-->
    <!--android:name=".YourCustomApplicationClass"> -->

    ...
</application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>

